
$blue : #337AB7;
$green : #53DF83;
$gray : #D9D9D9;
$darkgray : #3F3F3F;

body{
    font-family: "Inter";
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    margin-bottom: 20px;
}

.main{
    margin-bottom: 270px;
}
.page{
    position: relative;
    //min-height: 100%;
}
.footer{
    //position: absolute;
    left: 0;
    bottom: 0;
}
.core{
    min-height: 100vh;
}