$blue : #337AB7;
$green : #53DF83;
$gray : #D9D9D9;
$darkgray : #3F3F3F;



.regForm {
    text-align: center;
    text-decoration: solid;
    font-size: 15px;
    background-color: $green;
    border-radius: 10px;
    padding: 10px 50px;


}

.errorText{

    padding-bottom: 3px;
}
.loanPart{
    color: white;
    text-align: start;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
   
}
.loanSumm{
    
}

.loanSummLabel{
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
    
}
.daysCount{
}

.loanSummInput{
    outline: none;
    border: 0;
    padding: 15px 0 15px 20px;
    color: black;
    font-size: 14px;
}
.dayCountInput{
    outline: none;
    border: 0;
    padding: 15px 0 15px 20px;
    color: black;
    font-size: 14px;
}
.seterror{
    opacity: 0;
    margin-bottom: 10px;
}
.uncorect{
    opacity: 1;
    color: red;
}

input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
     
}

.daysCoutLabel{
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
}

.daysCountSelector{
    
    width: 100px;
}

.refundPart{
    color:white;
    gap: 20px;
    text-align: left;
    display: flex;
    margin-bottom: 10px;
    // justify-content: space-between;
   
}
.refundSummLabel{
    margin: 0;
}

.refundSummValue{
    margin: 0;
}

.btn{
    border: 0;
    padding: 15px 25px;
    margin: 0px auto ;
    background-color: $blue;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    &:disabled{
        color: rgba($gray, .2);
        background-color: rgba(black, .5);
        cursor: default;
    }
}